In [ ]:
s="this IS s string"
print(s.capitalize())

This is s string

In [ ]:
def print_formatted(number):
    # your code goes here
    l=len(bin(number))-2
    print(l)
    for i in range(1,number+1):
      
      print(oct(i).replace("0o","").rjust(l," "),end=" ")
      print(hex(i).replace("0x","").upper().rjust(l," "),end=" ")
      print(bin(i).replace("0b","").rjust(l," "))
    
        

if __name__ == '__main__':
    n = int(input())
    print_formatted(n)

17
5
    1     1     1
    2     2    10
    3     3    11
    4     4   100
    5     5   101
    6     6   110
    7     7   111
   10     8  1000
   11     9  1001
   12     A  1010
   13     B  1011
   14     C  1100
   15     D  1101
   16     E  1110
   17     F  1111
   20    10 10000
   21    11 10001

In [ ]:
l1=["apple","kiwi","banana","grapes","papaya","cherry"]
l2=[]
for x in l1:
  if "e" in x:
    l2.append(x)
print(l1)
print(l2)

['apple', 'kiwi', 'banana', 'grapes', 'papaya', 'cherry']
['apple', 'grapes', 'cherry']

In [ ]:
# list comprehension
l1=["apple","kiwi","banana","grapes","papaya","cherry"]
l2=[x for x in l1 if "e" in x]
print(l2)

['apple', 'grapes', 'cherry']

In [ ]:
list=[]
list2=[]
for x in range(3):
  for y in range(3):
    list=[x,y]
    list2.append(list)
print(list2)

[[0, 0], [0, 1], [0, 2], [1, 0], [1, 1], [1, 2], [2, 0], [2, 1], [2, 2]]

In [ ]:
matrix=[]
for i in range(5):
  matrix.append([])
  for j in range(5):
    matrix[i].append(j)
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [ ]:
# list comprehension
matrix=[[j for j in range(5)] for i in range(5)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [ ]:
# list unpacking
matrix=[[1,2,3],[4,5],[6],[7,8,9,10]]
new_matrix=[]
for x in matrix:
  for i in x:
    new_matrix.append(i)
print(new_matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# nested list comprehension
new_matrix=[i for x in [[1,2,3],[4,5],[6],[7,8,9,10]] for i in x  ]
print(new_matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:

# Suppose I want to flatten a given 2-D list and only include those strings whose lengths are less than 6:

# planets = [[‘Mercury’, ‘Venus’, ‘Earth’], [‘Mars’, ‘Jupiter’, ‘Saturn’], [‘Uranus’, ‘Neptune’, ‘Pluto’]]

planets = [["Mercury", "Venus", "Earth"], ["Mars", "Jupiter", "Saturn"], ["Uranus", "Neptune", "Pluto"]]
new_list=[]
for sublist in planets:
  for item in sublist:
    if len(item)<6:
      new_list.append(item)
print(new_list)

['Venus', 'Earth', 'Mars', 'Pluto']

In [ ]:
# list comprehension
planets = [["Mercury", "Venus", "Earth"], ["Mars", "Jupiter", "Saturn"], ["Uranus", "Neptune", "Pluto"]]
new_list=[item for sublist in planets for item in sublist if len(item)<6]
print(new_list)

['Venus', 'Earth', 'Mars', 'Pluto']

In [ ]:
list1=[]
final=[]
for x in range(3):
  for y in range(3):
    for z in range(3):
      if x+y+z!=2:
        list1=[x,y,z]
        final.append(list1)
print(final)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

In [ ]:
list1=[]
final=[[x,y,z] for x in range(3) for y in range(3) for z in range(3) if x+y+z!=2 ]
print(final)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

In [ ]:
list=[]
final=[]
for i in range(int(input())):
  name = input()
  score = float(input())
  list=[name,score]
  final.append(list)
print(final)
mark=[]
for item in final:
  mark.append(item[1])

mark.sort()
print(mark)
word=[]
print(mark[-2])
for x in final:
  if mark[-2] in x:
    word.append(x[0])
word.sort()
for y in word:
  print(y)